* {
  margin: 0;
  padding: 0;
}

.bg-dark1 {
  background: #04293a;
}

.bg-dark2 {
  background-color: #064663 !important;
}

body {
  background-color: #041c32 !important;
}

.min-width {
  min-width: 375px;
  resize: none;
}

.body-dark {
  background-color: #041c32 !important;
}

.text-app {
  color: #ecb365;
}

.no-shadow:focus {
  box-shadow: none;
}

.loader {
  border: 4px solid #064663;
  border-top: 4px solid #ecb365;
  border-bottom: 4px solid #ecb365;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
  margin: 50px auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.App {
  text-align: center;
}

.App-logo {
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
